<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
    <title>index</title>
</head>

<body>
    <div id="heading">
        <p id="title">Hate Speech Detection</p>
    </div>
    <form action="#" method="post">
        <p><input type="text" name="text" placeholder="text" /></p>
        <p><input type="text" name="youtube link" placeholder="link" /></p>
        <p><input type="file" name="file" /></p>
        <p><input type="submit" value="submit" /></p>
    </form>
    <p>{{r | safe}}</p>
</body>

</html>
